@media only screen and (max-width:991px) {
    #wrapper h1, #wrapper h1>p>span, #wrapper h1>span{
        font-size: 32px !important;
        line-height: normal;
    }

    #wrapper h2{
        font-size: 24px !important;
        line-height: normal;
    }

    #wrapper h3{
        font-size: 18px !important;
        line-height: normal;
    }

    #wrapper h4{
        font-size: 16px !important;
        line-height: normal;
    }
    #wrapper h5{
        font-size: 13px !important;
        line-height: normal;
    }
    #wrapper h6{
        font-size: 12px !important;
        line-height: normal;
    }

    #wrapper p, #wrapper span{
        font-size: 16px !important;
        line-height: normal;
    }
    #wrapper a{
        font-size: 16px !important;
        line-height: normal;
    }
    #wrapper ul li{
        font-size: 16px !important;
        line-height: normal;
    }
}



@media only screen and (max-width:767px) {
    #wrapper h1, #wrapper h1>p>span, #wrapper h1>span{
        font-size: 24px !important;
        line-height: normal;
    }

    #wrapper h2{
        font-size: 20px !important;
        line-height: normal;
    }

    #wrapper h3{
        font-size: 18px !important;
        line-height: normal;
    }

    #wrapper h4{
        font-size: 14px !important;
        line-height: normal;
    }

    #wrapper h5{
        font-size: 14px !important;
        line-height: normal;
    }
    #wrapper h6{
        font-size: 12px !important;
        line-height: normal;
    }
    #wrapper p, #wrapper span{
        font-size: 14px !important;
        line-height: normal;
    }

    #wrapper a{
        font-size: 14px !important;
        line-height: normal;
    }
    #wrapper ul li{
        font-size: 14px !important;
        line-height: normal;
    }

}